<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>成长之旅 | Heleeos blog</title>
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/blog-web/css/common.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/blog-web/css/style.css">
        <link rel="stylesheet" type="text/css" href="https://static.heleeos.com/blog-web/css/blog.css">
        <script src="https://api.heleeos.com/blog/{{blog.disp}}.js"></script>
    </head>
    <body>
        <div class="header hidden-xs col-sm-12">
            <a href="https://heleeos.com/" class="logo">
                <img class="logo-image" src="https://static.heleeos.com/logo.png"></img>
            </a>
            <nav class="main-nav">
                <a class="main-nav-link" href="https://heleeos.com/">主页</a>
                <a class="main-nav-link" href="https://heleeos.com/time/">时间轴</a>
                <a class="main-nav-link" href="">技术干货</a>
                <a class="main-nav-link" href="">读书感悟</a>
                <a class="main-nav-link" href="https://heleeos.com/profile/index.html">关于我</a>
            </nav>
            <nav class="profile-nav hidden-lg">
                <img class="profile-image" src="https://static.heleeos.com/blog-web/image/profile.jpg">
                <a href="javascript:;"><i class="fa fa-caret-down"></i></a>
            </nav>
        </div>

        <div class="header visible-xs-block" style="height: 50px;">
            <nav class="mobile-nav">
                <a class="mobile-nav-link" href="https://heleeos.com/">主页</a>
                <a class="mobile-nav-link" href="https://heleeos.com/time/">时间轴</a>
                <a class="mobile-nav-link" href="https://heleeos.com/profile/index.html">关于我</a>
            </nav>
        </div>
        
        <div class="container-fluid">
            <div class="left visible-lg-inline-block col-lg-3">
                <div class="card">
                    <img class="profile-image" src="https://static.heleeos.com/blog-web/image/profile.jpg">
                    <p class="profile-name">李瑜</p>
                    <p class="profile-info">爱生活，爱学习，更爱写代码<br>爱折腾的全栈开发工程师<br>前端，后台，运维</p>
                    <p class="profile-location"><i class="fa fa-map-marker"></i>中国 - 上海</p>
                    <a class="profile-button btn" href="https://github.com/greenfit" target="_blank">Follow</a>
                    <div class="profile-other">
                        <a href="https://git.oschina.net/IP" target="_blank"><i class="fa fa-git"></i></a>
                        <a href="https://codepen.io/greenfit/" target="_blank"><i class="fa fa-codepen"></i></a>
                        <a href="https://www.freecodecamp.com/greenfit" target="_blank"><i class="fa fa-free-code-camp"></i></a>
                        <a href="mailto:kissaoe@gmail.com?subject=I Love You~" target="_blank"><i class="fa fa-envelope"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=100010520951879" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <h3>微信订阅号</h3> 
                <img src="https://static.heleeos.com/blog-web/image/qrcode.jpg">
            </div>
            <div class="main col-xs-12 col-sm-9 col-md-9 col-lg-7">
                <div class="card">
                    <h1 class="title"><a>{{blog.title}}</a></h1>
                    <div class="meta">
                        <div class="time"><i class="fa fa-calendar"></i>{{datetime blog.time}}</div>
                        <div class="type"><i class="fa fa-folder"></i>{{blog.type}}</div>
                        <div class="count"><i class="fa fa-bookmark"></i>{{blog.count}} 次</div>
                        <div class="tag"><i class="fa fa-tags"></i>{{{splitTags blog.tags}}}</div>
                    </div>
                    <div class="info">摘要:{{blog.summary}}</div>
                    <hr>
                    <div class="blog-body">
                        {{{html}}}
                    </div>
                    <div class="blog-copy-info">
                      <p>以上内容是在下的一点愚见，有任何不对的地方，欢迎指出。</p>
                      <p>欢迎任何形式的转载，但请务必注明出处。</p>
                      <p>转载请注明：文章转载自 黑老李的博客[<a href="https://heleeos.com/blog/{{blog.disp}}.html">https://heleeos.com</a>]</p>
                      <p>本文标题：{{blog.title}}</p>
                      <p>本文地址：https://heleeos.com/blog/{{blog.disp}}.html</p>
                    </div>
                </div>
            </div>
            <div class="right hidden-xs col-sm-3 col-md-3 col-lg-2"> 
                <h3>公告</h3> 
                <div class="card">
                    <div class="info">网站上线了</div>
                </div>
                <h3>分类</h3>
                <div class="type">
                    <ul class="type-list">
                        {{#each types }}
                            <li class="type-list-item">
                                <a class="type-list-link" href=""><i class="fa fa-caret-right"></i>{{ name }}</a><span class="type-list-count">({{ count }})</span>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <h3>标签</h3>
                <div class="tags">
                    <a href="">Spring</a>
                    <a href="">Spring Bean</a>
                    <a href="">Spring MVC</a>
                    <a href="">MySQL</a>
                    <a href="">Java8</a>
                    <a href="">JVM</a>
                    <a href="">AOP</a>
                </div>
                <div class="catalog">
                    <span class="sidebar-scrollbar"></span>
                    <ul class="catalog-content"></ul>
                </div>
            </div>
        </div>
        <div class="footer">
            2017 &copy;<a href="https://heleeos.com/profile/" target="_blank">李瑜</a> | 黑老李的博客 <br> 豫ICP备17009313号<br>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1261694742'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261694742%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <script src="https://static.heleeos.com/lib/jquery.min.js"></script>
        <script src="https://static.heleeos.com/blog-web/js/blog.js"></script>
    </body>
</html>