<div class="card">
    <h1 class="title"><a>{{blog.title}}</a></h1>
    <div class="meta">
        <div class="time"><i class="fa fa-calendar"></i>{{datetime blog.time}}</div>
        <div class="type"><i class="fa fa-folder"></i>{{blog.type}}</div>
        <div class="count"><i class="fa fa-bookmark"></i>{{blog.count}} 次</div>
        <div class="tag"><i class="fa fa-tags"></i>{{{splitTags blog.tags}}}</div>
    </div>
    <div class="info">摘要:{{blog.summary}}</div>
    <hr>
    <div class="blog-body">
        {{{html}}}
    </div>
    <div class="blog-copy-info">
      <p>以上内容是在下的一点愚见，有任何不对的地方，欢迎指出。</p>
      <p>欢迎任何形式的转载，但请务必注明出处。</p>
      <p>转载请注明：文章转载自 黑老李的博客[<a href="https://heleeos.com/blog/{{blog.disp}}.html">https://heleeos.com</a>]</p>
      <p>本文标题：{{blog.title}}</p>
      <p>本文地址：https://heleeos.com/blog/{{blog.disp}}.html</p>
    </div>
</div>
<script src="https://api.heleeos.com/blog/{{blog.disp}}.js"></script>
<script src="https://static.heleeos.com/lib/jquery.min.js"></script>
<script src="https://static.heleeos.com/blog-web/js/blog.js"></script>