{{#each beans}}
    <div class="card">
        <h1 class="title"><a href="/blog/{{ disp }}.html">{{ title }}</a></h1>
        <div class="meta">
            <div class="time"><i class="fa fa-calendar"></i>{{ datatime time }}</div>
            <div class="type" style="float:none"><i class="fa fa-folder"></i>{{ type }}</div>
        </div>
        <div class="info">{{ summary }}</div>
        <hr>
        <div class="tags"><i class="fa fa-tag"></i>{{{ splitTags tags }}}</div>
        <div class="readCount"><i class="fa fa-bookmark"></i>{{ count }} 次</div>
    </div>
{{/each}}
