{{#each message.beans}}
    <div class="card">
        <h1 class="title"><a href="/blog/{{ dispUrl }}.html">{{ blogTitle }}</a></h1>
        <div class="meta">
            <div class="time"><i class="fa fa-calendar"></i>{{ datetime createTime }}</div>
            <div class="type" style="float:none"><i class="fa fa-folder"></i>{{ blogType }}</div>
        </div>
        <div class="info">{{ summary }}</div>
        <hr>
        <div class="tags"><i class="fa fa-tag"></i>{{{ splitTags blogTags }}}</div>
        <div class="readCount"><i class="fa fa-bookmark"></i>{{ readCount }} 次</div>
        {{#larger dispIndex 0}}
            <img class="tj" src="https://static.heleeos.com/blog-web/image/tj.png">
        {{/larger}}
    </div>
{{/each}}

{{{page 'page' message.start message.end message.max message.page}}}